.module-select{
margin: 30px 20px 0;
background: @secondary;
color:#fff;
padding: 14px 0 0 0;
	.form{
		 &:extend(.clearfix all);
		 margin-bottom: 0;
		li{
			display:inline-block;
			float: left;
			margin-right: 20px;
			label{
				float: left;
				margin-top: 4px;
				margin-right: 10px;
				font-weight:400;
			}
			select{
				width:200px;
				float: left;
			}
			#year, #month {
				width:75px;
			}
		}
	}
}